[DEFAULT]
rabbit_host=localhost
rabbit_port=5672
rabbit_userid=guest
rabbit_password=rachel

auth_strategy=keystone
debug=True

[waiter]
queue_name=gringotts.notification
initial_balance=10

[master]
use_local=Flase
reserved_days=7

[worker]
use_local=True

[database]
connection=mysql://root:admin@localhost/gringotts?charset=utf8

[keystone_authtoken]
auth_protocol=http
auth_host=127.0.0.1
auth_port=35357
admin_user=admin
admin_password=admin
admin_tenant_name=admin
